In [1]:
import pandas as pd

In [2]:
path="C:/Users/Lina/OneDrive/Desktop/bgg-15m-reviews.csv"
df = pd.read_csv(path,index_col=0)

In [3]:
df.head()

,user,rating,comment,ID,name
0,Torsten,10.0,NaN,30549,Pandemic
1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic
2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic
3,Mike Mayer,10.0,NaN,30549,Pandemic
4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15823269 entries, 0 to 15823268
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   user     object
 1   rating   float64
 2   comment  object
 3   ID       int64
 4   name     object
dtypes: float64(1), int64(1), object(3)
memory usage: 724.3+ MB

In [5]:
df.tail()

,user,rating,comment,ID,name
15823264,Fafhrd65,8.0,Turn based preview looks very promising. The g...,281515,Company of Heroes
15823265,PlatinumOh,8.0,KS,281515,Company of Heroes
15823266,BunkerBill,7.0,NaN,281515,Company of Heroes
15823267,Hattori Hanzo,6.0,NaN,281515,Company of Heroes
15823268,Richie2000,1.0,NaN,281515,Company of Heroes

In [6]:
df

,user,rating,comment,ID,name
0,Torsten,10.0,NaN,30549,Pandemic
1,mitnachtKAUBO-I,10.0,Hands down my favorite new game of BGG CON 200...,30549,Pandemic
2,avlawn,10.0,I tend to either love or easily tire of co-op ...,30549,Pandemic
3,Mike Mayer,10.0,NaN,30549,Pandemic
4,Mease19,10.0,This is an amazing co-op game. I play mostly ...,30549,Pandemic
...,...,...,...,...,...
15823264,Fafhrd65,8.0,Turn based preview looks very promising. The g...,281515,Company of Heroes
15823265,PlatinumOh,8.0,KS,281515,Company of Heroes
15823266,BunkerBill,7.0,NaN,281515,Company of Heroes
15823267,Hattori Hanzo,6.0,NaN,281515,Company of Heroes
15823268,Richie2000,1.0,NaN,281515,Company of Heroes

In [7]:
df.isnull().sum()

user             66
rating            0
comment    12828247
ID                0
name              0
dtype: int64

In [8]:
# Count how many duplicate rows exist 
num_duplicates = df.duplicated().sum()
print("Number of duplicate rows:",num_duplicates)

Number of duplicate rows: 0

In [9]:
#EDA

columns_to_loop = ['user', 'name']

for col in columns_to_loop:
    value_counts = df[col].value_counts()
    print(f"Value counts for column '{col}':\n{value_counts}\n")

Value counts for column 'user':
user
leffe dubbel    6027
TomVasel        4950
Doel            4876
warta           4811
Hessu68         4602
                ...
Cptkremmen         1
GaiaGirl           1
Slight_56          1
llewellynw         1
smedzz31           1
Name: count, Length: 351048, dtype: int64

Value counts for column 'name':
name
Pandemic                             96234
Carcassonne                          96221
Catan                                96185
7 Wonders                            79870
Dominion                             74954
                                     ...
Top Ten: The Bill of Rights             30
Saga: The Crescent and The Cross        30
All Things Zombie: Final Fade Out       30
In Extremis                             30
Company of Heroes                       30
Name: count, Length: 18984, dtype: int64

For users, some of them gives a lot of reviews. and some do not.
For game, A variation o freviews are given. max pandemic, least a few

In [10]:
# Count the number of unique games in the 'game' column
num_unique_games = df['name'].nunique()

print(f"Number of unique games: {num_unique_games}")

Number of unique games: 18984

In [11]:
# Get unique values in the 'rating' column
unique_ratings = df['rating'].unique()
print("Unique ratings:", unique_ratings)

Unique ratings: [10.       9.9      9.8     ...  2.34667  5.362    4.33375]

In [12]:
# Check if there are any ratings greater than 10
has_rating_above_10 = (df['rating'] > 10).any()
# Check if there are any ratings less than 0
has_rating_below_0 = (df['rating'] < 0).any()

# Print results
print("Is there any rating greater than 10? " + str(has_rating_above_10))
print("Is there any rating less than 0? " + str(has_rating_below_0))

Is there any rating greater than 10? False
Is there any rating less than 0? False

In [13]:
#check how many unique games there are, check the rating bigger than 10 less than 0. for each game its rating

In [14]:
# Drop the specified columns in place
df.drop(columns=['user', 'comment'], inplace=True)

# Display the DataFrame after dropping the columns
print(df.head())  # Shows the first few rows of the updated DataFrame

   rating     ID      name
0    10.0  30549  Pandemic
1    10.0  30549  Pandemic
2    10.0  30549  Pandemic
3    10.0  30549  Pandemic
4    10.0  30549  Pandemic

In [15]:
df

          rating      ID               name
0           10.0   30549           Pandemic
1           10.0   30549           Pandemic
2           10.0   30549           Pandemic
3           10.0   30549           Pandemic
4           10.0   30549           Pandemic
...          ...     ...                ...
15823264     8.0  281515  Company of Heroes
15823265     8.0  281515  Company of Heroes
15823266     7.0  281515  Company of Heroes
15823267     6.0  281515  Company of Heroes
15823268     1.0  281515  Company of Heroes

[15823269 rows x 3 columns]

In [16]:
#compute the rating of each game
# Calculate the average rating for each game and sort in descending order
average_ratings = df.groupby('name')['rating'].mean().sort_values(ascending=False)

# Display the average ratings
print(average_ratings)

name
Aeolis                                       9.687500
Dungeon Crusade: Book I – Genesis of Evil    9.565405
Thug Life the Game                           9.392857
TerroriXico                                  9.380282
Conqueror: Final Conquest                    9.360000
                                               ...
Ms. Monopoly                                 1.466667
W.W.B                                        1.416667
Rock Paper Scissors Game                     1.320000
Alien: USCSS Nostromo                        1.231933
Oneupmanship: Mine's Bigger                  1.048437
Name: rating, Length: 18984, dtype: float64

what i want here is the results in classes so easy access for future, i wanna make a name.nb of ratings.avg rate.rank

In [17]:
number_of_ratings = df[df['name'] == "Aeolis"].shape[0]
print(f"The number of ratings for Aeolis is: {number_of_ratings}")

The number of ratings for Aeolis is: 32

In [18]:
class Game:
    def __init__(self, game_id, name, average_rank=0, wilson_rank=0):
        self.id = game_id
        self.name = name
        self.average_rank = average_rank  
        self.wilson_rank = wilson_rank

In [ ]:
#create a function to calculate average rank
#a function to calculate wilson rank
# a way to put them in classes
#visualization